<logoutFilter>
  <id>-62593160:15a713442b7:-7ff0</id>
  <name>formLogout</name>
  <className>org.geoserver.security.filter.GeoServerLogoutFilter</className>
  <redirectURL>/web/</redirectURL>
  <formLogoutChain>/j_spring_security_logout,/j_spring_security_logout/,/logout</formLogoutChain>
</logoutFilter>