<passwordPolicy>
  <id>-62593160:15a713442b7:-7ffb</id>
  <name>master</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>8</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>