/builtup_area.dbf
/builtup_area.index
/builtup_area.prj
/builtup_area.qix
/builtup_area.shp
/builtup_area.shx
/icesheet_outlines.dbf
/icesheet_outlines.prj
/icesheet_outlines.qix
/icesheet_outlines.shp
/icesheet_outlines.shx
/icesheet_polygons.dbf
/icesheet_polygons.prj
/icesheet_polygons.qix
/icesheet_polygons.shp
/icesheet_polygons.shx
/land_polygons.cpg
/land_polygons.dbf
/land_polygons.prj
/land_polygons.qix
/land_polygons.shp
/land_polygons.shx
/ne_110m_admin_0_boundary_lines_land.README.html
/ne_110m_admin_0_boundary_lines_land.VERSION.txt
/ne_110m_admin_0_boundary_lines_land.dbf
/ne_110m_admin_0_boundary_lines_land.prj
/ne_110m_admin_0_boundary_lines_land.qix
/ne_110m_admin_0_boundary_lines_land.shp
/ne_110m_admin_0_boundary_lines_land.shx
/simplified_land_polygons.cpg
/simplified_land_polygons.dbf
/simplified_land_polygons.prj
/simplified_land_polygons.qix
/simplified_land_polygons.shp
/simplified_land_polygons.shx
/simplified_water_polygons.cpg
/simplified_water_polygons.dbf
/simplified_water_polygons.prj
/simplified_water_polygons.qix
/simplified_water_polygons.shp
/simplified_water_polygons.shx
/water_polygons.cpg
/water_polygons.dbf
/water_polygons.prj
/water_polygons.qix
/water_polygons.shp
/water_polygons.shx
